<div id='about' class="about">
    <div class="about-content">
        <div class="about-image">
            <img src="../../../assets/about/aboutCar.jpg" alt="Image">
        </div>
        <div class="about-text">
            <p class="header">What is <span class="stroke-text">NexGen Rentals</span>?</p>
            <p class="description">We bring you the future of affordable mobility. Our fleet of futuristic vehicle
                combines cutting-edge technology with budget-friendly options. With flexible rental plans, competitive
                rates, and a commitment to exceptional service, we make the future accessible to everyone. Explore the
                possibilities and embark on an affordable adventure with NexGen Rentals.</p>
            <span class="learn-more-button">Explore Fleet</span>
        </div>
    </div>
</div>