.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
}

.logo {
    font-size: 2rem;
    padding-left: 1rem;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.2rem;
}

.menu li {
    margin-right: 15px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    text-decoration: underline;
}