<section class="carouselSec mt-5">
    <div class="mb-3 mt-3 px-8">
        <p class="text-2xl font-semibold">Top Tech News</p>
        <div class="h-1 w-60 rounded" style="background: black; position: relative; bottom: .7rem;"></div>
    </div>
    <div class="container">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="../../../assets/features/feaCar1.png" alt="">
                        </div>
                        <figcaption class="slideDetails">
                            <span class="title">Car 1</span>
                            <span class='description'>Blah blah blah</span>
                            <span class="content">
                                more words go here
                                <a class="text-blue-700" href="#" target="_blank">
                                    read more....
                                </a>
                            </span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="../../../assets/features/feaCar2.png" alt="">
                        </div>
                        <figcaption class="slideDetails">
                            <span class="title">Car 1</span>
                            <span class='description'>Blah blah blah</span>
                            <span class="content">
                                more words go here
                                <a class="text-blue-700" href="#" target="_blank">
                                    read more....
                                </a>
                            </span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="../../../assets/features/feaCar3.png" alt="">
                        </div>
                        <figcaption class="slideDetails">
                            <span class="title">Car 1</span>
                            <span class='description'>Blah blah blah</span>
                            <span class="content">
                                more words go here
                                <a class="text-blue-700" href="#" target="_blank">
                                    read more....
                                </a>
                            </span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="../../../assets/features/feaCar4.png" alt="">
                        </div>
                        <figcaption class="slideDetails">
                            <span class="title">Car 1</span>
                            <span class='description'>Blah blah blah</span>
                            <span class="content">
                                more words go here
                                <a class="text-blue-700" href="#" target="_blank">
                                    read more....
                                </a>
                            </span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="../../../assets/features/feaCar5.png" alt="">
                        </div>
                        <figcaption class="slideDetails">
                            <span class="title">Car 1</span>
                            <span class='description'>Blah blah blah</span>
                            <span class="content">
                                more words go here
                                <a class="text-blue-700" href="#" target="_blank">
                                    read more....
                                </a>
                            </span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="../../../assets/features/feaCar6.png" alt="">
                        </div>
                        <figcaption class="slideDetails">
                            <span class="title">Car 1</span>
                            <span class='description'>Blah blah blah</span>
                            <span class="content">
                                more words go here
                                <a class="text-blue-700" href="#" target="_blank">
                                    read more....
                                </a>
                            </span>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="../../../assets/features/feaCar1.png" alt="car"></label>
                </li>
                <li>
                    <label for="slide-2"><img src="../../../assets/features/feaCar2.png" alt="car"></label>
                </li>
                <li>
                    <label for="slide-3"><img src="../../../assets/features/feaCar3.png" alt="car"></label>
                </li>
                <li>
                    <label for="slide-4"><img src="../../../assets/features/feaCar4.png" alt="car"></label>
                </li>
                <li>
                    <label for="slide-5"><img src="../../../assets/features/feaCar5.png" alt="car"></label>
                </li>
                <li>
                    <label for="slide-6"><img src="../../../assets/features/feaCar6.png" alt="car"></label>
                </li>
            </ul>
        </div>
    </div>
</section>