<div id="featured" class="features">
    <div class="carouselSec">
        <div class="features-title">
            <p>Featured Models</p>
        </div>
        <div class="container">
            <div class="carousel">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
                <ul class="carousel__slides">
                    <li class="carousel__slide">
                        <figure>
                            <div class="slide-img">
                                <img src="../../../assets/features/feaCar1.png" alt="">
                            </div>
                            <figcaption class="slideDetails">
                                <span class="title stroke-text">Vi-3t</span>
                                <span class='description'>$899/Month</span>
                                <span class="content">
                                    Step into the future of convenience with Vi-3t. Enjoy seamless integration with
                                    smart devices, voice-controlled commands, and real-time navigation for a connected
                                    driving experience.
                                </span>
                                <div class="slide-btn">
                                    Rent Car
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div class="slide-img">
                                <img src="../../../assets/features/feaCar2.png" alt="">
                            </div>
                            <figcaption class="slideDetails">
                                <span class="title stroke-text">Zx-09</span>
                                <span class='description'>$999/Month</span>
                                <span class="content">
                                    Experience the future of performance with the Zx-09 sports car. Unleash instant
                                    acceleration, zero emissions, and cutting-edge aerodynamics for an exhilarating
                                    drive like no other
                                </span>
                                <div class="slide-btn">
                                    Rent Car
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div class="slide-img">
                                <img src="../../../assets/features/feaCar3.png" alt="">
                            </div>
                            <figcaption class="slideDetails">
                                <span class="title stroke-text">Mx-05</span>
                                <span class='description'>$599/Month</span>
                                <span class="content">
                                    Make a statement with Mx-05's futuristic luxury design. Immerse yourself in opulent
                                    comfort, state-of-the-art features, and head-turning designs that redefine
                                    automotive sophistication
                                </span>
                                <div class="slide-btn" href="#" target="_blank">
                                    Rent Car
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div class="slide-img">
                                <img src="../../../assets/features/feaCar4.png" alt="">
                            </div>
                            <figcaption class="slideDetails">
                                <span class="title stroke-text">Fb-75</span>
                                <span class='description'>$699/Month</span>
                                <span class="content">
                                    Indulge yourself with Pb-75's premium features. Immerse yourself in exquisite
                                    craftsmanship, refined interiors, and cutting-edge amenities for a first-class
                                    driving experience
                                </span>
                                <div class="slide-btn" href="#" target="_blank">
                                    Rent Car
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div class="slide-img">
                                <img src="../../../assets/features/feaCar5.png" alt="">
                            </div>
                            <figcaption class="slideDetails">
                                <span class="title stroke-text">Lo-76</span>
                                <span class='description'>$899/Month</span>
                                <span class="content">
                                    Lo-76's cutting-edge AI-assisted vehicles anticipate your needs and adapt to your
                                    driving style. Discover the seamless integration of technology and automotive
                                    excellence.
                                </span>
                                <div class="slide-btn" href="#" target="_blank">
                                    Rent Car
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div class="slide-img">
                                <img src="../../../assets/features/feaCar6.png" alt="">
                            </div>
                            <figcaption class="slideDetails">
                                <span class="title stroke-text">Ux-44</span>
                                <span class='description'>$999/Month</span>
                                <span class="content">
                                    Experience the future of mobility with Ux-44's self-charging hybrids. Effortlessly
                                    switch between electric and gasoline power for an uninterrupted and efficient drive.
                                </span>
                                <div class="slide-btn">
                                    Rent Car
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
                <ul class="carousel__thumbnails">
                    <li>
                        <label for="slide-1"><img class="lable-img" src="../../../assets/features/feaCar1.png"
                                alt="car"></label>
                    </li>
                    <li>
                        <label for="slide-2"><img class="lable-img" src="../../../assets/features/feaCar2.png"
                                alt="car"></label>
                    </li>
                    <li>
                        <label for="slide-3"><img class="lable-img" src="../../../assets/features/feaCar3.png"
                                alt="car"></label>
                    </li>
                    <li>
                        <label for="slide-4"><img class="lable-img" src="../../../assets/features/feaCar4.png"
                                alt="car"></label>
                    </li>
                    <li>
                        <label for="slide-5"><img class="lable-img" src="../../../assets/features/feaCar5.png"
                                alt="car"></label>
                    </li>
                    <li>
                        <label for="slide-6"><img class="lable-img" src="../../../assets/features/feaCar6.png"
                                alt="car"></label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>