@import "~@fortawesome/fontawesome-free/css/all.css";

.offers {
    height: 100vh;
    padding: 3rem;
}

.offers-title {
    text-align: center;
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
    color: white;
    margin-bottom: 3rem;
}

.offers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 0 5rem;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
}

.offer-card {
    width: 100%;
    height: 250px;
    color: white;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(11, 169, 202, 0.17) 0px -23px 25px 0px inset, rgba(11, 169, 202, 0.15) 0px -36px 30px 0px inset, rgba(11, 169, 202, 0.1) 0px -79px 40px 0px inset, rgba(11, 169, 202, 0.06) 0px 2px 1px, rgba(11, 169, 202, 0.09) 0px 4px 2px, rgba(11, 169, 202, 0.09) 0px 8px 4px, rgba(11, 169, 202, 0.09) 0px 16px 8px, rgba(11, 169, 202, 0.09) 0px 32px 16px;
    justify-content: center;
}

.offer-icon {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.offer-title {
    text-align: center;
    font-size: clamp(1rem, 1.8rem, 1.8rem);
    margin: 1rem 0 2rem;
}

.offer-btn {
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
    font-size: clamp(.7rem, .9rem, .9rem);
    padding: 0.7rem 2rem;
    letter-spacing: 0.06rem;
    position: relative;
    font-family: inherit;
    border-radius: 0.6rem;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4rem;
    border: 2px solid rgb(255, 255, 255);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(255, 255, 255, 0.1) 100%);
    color: white;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 0 9px 3px rgba(255, 255, 255, 0.1);
}

.offer-btn:hover {
    color: rgb(248, 46, 255);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgba(255, 255, 255, 0.2);
}

.offer-btn:before {
    content: "";
    position: absolute;
    left: -4rem;
    width: 4rem;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.1) 60%, transparent 100%);
}

.offer-btn:hover:before {
    transform: translateX(15em);
}

@media (max-width: 768px) {
    .offers {
        height: fit-content;
    }
}