<div class="offers" id="offers">
    <p class="offers-title">What We Offer</p>
    <div class="offers-container">
        <div class="offer-card">
            <div class="offer-icon">
                <i class="fa-solid fa-car-rear"></i>
            </div>
            <p class="offer-title">Luxury Fleet</p>
            <div class="offer-btn">Learn More</div>
        </div>
        <div class="offer-card">
            <div class="offer-icon">
                <i class="fa-regular fa-clock"></i>
            </div>
            <p class="offer-title">Hourly Rentals</p>
            <div class="offer-btn">Learn More</div>
        </div>
        <div class="offer-card">
            <div class="offer-icon">
                <i class="fa-solid fa-headset"></i>
            </div>
            <p class="offer-title">24/7 Support</p>
            <div class="offer-btn">Learn More</div>
        </div>
        <div class="offer-card">
            <div class="offer-icon">
                <i class="fa-solid fa-truck"></i>
            </div>
            <p class="offer-title">On-Demand Delivery</p>
            <div class="offer-btn">Learn More</div>
        </div>
        <div class="offer-card">
            <div class="offer-icon">
                <i class="fa-solid fa-vr-cardboard"></i>
            </div>
            <p class="offer-title">Virtual Test Drives</p>
            <div class="offer-btn">Learn More</div>
        </div>
        <div class="offer-card">
            <div class="offer-icon">
                <i class="fa-solid fa-leaf"></i>
            </div>
            <p class="offer-title">Green Initiatives</p>
            <div class="offer-btn">Learn More</div>
        </div>
    </div>
</div>