.loading-card {
    background: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.loading-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loading-title {
    font-size: 2rem;
}

.loading-body {
    font-size: 1.3rem;
}

.loading-subtitle {
    margin-bottom: 1rem;
}

.loading-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loading-button-disabled {
    padding: 0.8em 1.7em;
    background-color: rgb(192, 192, 192);
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    transition: .5s;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid black;
    font-family: inherit;
    text-transform: uppercase;
    color: #595959;
    z-index: 1;
    width: fit-content;
    margin: 0 auto;
}

.loading-button {
    --color: #008d2a;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    width: fit-content;
    margin: 0 auto;
}

.loading-button::before,
.loading-button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: rgba(255, 0, 255, 0.61);
    transition: 1s ease;
}

.loading-button::before {
    top: -1em;
    left: -1em;
}

.loading-button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.loading-button:hover::before,
.loading-button:hover::after {
    height: 410px;
    width: 410px;
}

.loading-button:hover {
    color: rgb(10, 25, 30);
}

.loading-button:active {
    filter: brightness(.8);
}

.progress-loader {
    width: 100%;
    background: rgba(27, 27, 27, 0.253);
    height: 10px;
    border-radius: 7px;
}

.progress {
    width: 1px;
    height: 10px;
    border-radius: 7px;
    background: rgb(194 0 255);
    transition: 0.5s;
    animation: loading 3s cubic-bezier(.4, 1.01, 1, 1) forwards;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}