<div id='popular' class="popular-cars">
    <div class="popular-title">
        <p>Popular Picks</p>
    </div>
    <div class="car-list">
        <div class="car-item">
            <img src="../../../assets/popular/popCar1.png" alt="Car 1" class="car-image">
            <div class="car-details">
                <p class="car-name">Model-ZnX1</p>
                <p class="car-price">$599/Month</p>
                <span class="learn-more-button">View Details</span>
            </div>
        </div>
        <div class="car-item">
            <img src="../../../assets/popular/popCar3.png" alt="Car 2" class="car-image">
            <div class="car-details">
                <p class="car-name">Model-Ty09</p>
                <p class="car-price">$799/Month</p>
                <span class="learn-more-button">View Details</span>
            </div>
        </div>
        <div class="car-item">
            <img src="../../../assets/popular/popCar2.png" alt="Car 3" class="car-image">
            <div class="car-details">
                <p class="car-name">Model-JvL7</p>
                <p class="car-price">$999/Month</p>
                <span class="learn-more-button">View Details</span>
            </div>
        </div>
    </div>
</div>