/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';


html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Jura', sans-serif;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    letter-spacing: 2px;
}

.stroke-text {
    color: transparent;
    -webkit-text-stroke: 1px rgba(210, 46, 255, 1);
}